<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">Manage service</h1>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <% if (locals.userRoles.includes('serviceconfig')) { %>
        <a href="<%=locals.serviceId%>/service-configuration"><h2 class="heading-large">Service configuration</h2></a>
        <% } else { %>
        <h2 class="heading-large">Service configuration</h2>
        <% } %>
        <p>Manage the urls and secret keys for your service.</p>
    </div>

    <div class="col-6">
        <% if (locals.userRoles.includes('serviceBanner')) { %>
        <a href="<%=locals.serviceId%>/service-banners"><h2 class="heading-large">Manage banners</h2></a>
        <% } else { %>
            <h2 class="heading-large">Manage banners</h2>
        <% } %>
        <p>Manage banners that will be displayed on the DfE Sign-in page for your service.</p>
    </div>

    <div class="col-6">
        <% if (locals.userRoles.includes('accessManagement')) { %>
        <a href=""><h2 class="heading-large">Access management</h2></a>
        <% } else { %>
            <h2 class="heading-large">Access management</h2>
        <% } %>
        <p>Manage access management for your service.</p>
    </div>

    <div class="col-6">
        <% if (locals.userRoles.includes('serviceReport')) { %>
            <a href=""><h2 class="heading-large">Reports</h2></a>
        <% } else { %>
            <h2 class="heading-large">Reports</h2>
        <% } %>
        <p>View reports for the users of your service.</p>
    </div>

    <div class="col-6">
        <% if (locals.userRoles.includes('serviceSupport')) { %>
            <a href=""><h2 class="heading-large">Organisations and users</h2></a>
        <% } else { %>
            <h2 class="heading-large">Organisations and users</h2>
        <% } %>
        <p>Manage the organisations, approvers and users of your service.</p>
    </div>

    <div class="col-6">
        <h2 class="heading-large">Manage team</h2>
        <p>Manage the roles and access permissions of your team.</p>
    </div>
</div>
