<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">Manage service</h1>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <a href="service-configuration"><h2 class="heading-large">Service configuration</h2></a>
        <p>Manage the urls and secret keys for your service.</p>
    </div>
</div>
