<nav>
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list" role="tablist">
        <% if(locals.area === 'users') { %>
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" id="policy-conditions-tab">
                Users
            </li>
        <% } else { %>
            <li class="govuk-tabs__list-item" id="policy-conditions-tab">
                <a class="govuk-tabs__tab" href="users" role="tab">
                    Users
                </a>
            </li>
        <% } %>
    </ul>
</nav>
