{
  "extends": ["airbnb-base"],
  "plugins": ["prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "quotes": [1, "double", { "avoidEscape": true }],
    "comma-dangle": 0,
    "max-len": 0
  },
  "env": {
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2023
  }
}
