<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l govuk-!-margin-top-8">
                You are not authorised to view this information
            </h2>
        </div>
    </div>
</div>
